.aligner {
  display: flex;
  align-items: center;
  // min-height: 24em;
  // justify-content: center;
}

.aligner-item {
  flex: 1;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.aligner-item--fixed {
  flex: none;
  max-width: 50%;
}

.aligner-item--center {
	display: flex;
	align-items: center;
}