// *************************************
//
//   Well
//   -> Vertical spacing
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//// *************************************
//
//   Row
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .row[a|b]
//   / ...
//
// *************************************

.row {
  overflow: hidden;
  padding: 0 $b-space;
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// ----- Theme ----- //

.row--teal {
	background-color: $teal;
}

.row--grey {
	background-color: #f2f2f2;
}

.row--cyan {
	background-color: $clr-cyan-400;
}

.row--indigo {
	background-color: $clr-indigo-400;
}

.row--pink {
	background-color: $clr-pink-900;
}